[2013-09-01 16:18] julianlam opened #1 "Disable HTML parsing by default"

[2013-09-21 18:06] f446843 opened #2 "code tags"
It would be great if the plugin could support code tags, such as:

<pre><code>[code]
var a = 1;
var b = 2;
...
[/code]
</code></pre>

[2013-10-15 00:04] #2 closed, assigned to nobody

[2013-10-15 00:04] julianlam opened #3 "Administrator Settings Page"
To modify chjj/marked settings

[2013-10-15 01:58] #3 closed, assigned to julianlam

[2013-10-15 01:58] #1 closed, assigned to julianlam

[2013-12-07 14:52] tedr56 opened #5 "Needing redis - NodeBB refuse to start"
I'm getting this error at NodeBB start since yesterday.

module.js:340
    throw err;
    ^
Error: Cannot find module './redis'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at Object.<anonymous> (/home/tchernobob/NodeBB/node_modules/nodebb-plugin-markdown/index.js:6:22)
    at Module._compile

[2013-12-07 19:45] #5 closed, assigned to nobody

[2014-01-02 07:27] julianlam opened #8 "Fix admin panel menu icon"
Was not upgraded to fontawesome 4 icon

[2014-01-02 20:17] #8 closed, assigned to julianlam

[2014-01-31 16:31] joshuah opened #9 ""Automatically detect and highlight code blocks" feature causes many python process"
When the "Automatically detect and highlight code blocks" box is checked many python processes are spawned. A lot of them are defunct and cause performance delays when users are loading the page. Any chance a native node module could be used?

[2014-02-07 06:56] ghost opened #10 "Signature + pre-block => crash"
This signature has killed my nodebb everytime it might get seen.

[code]

Error:

[code]

Please fix :walking:

FDG

[2014-02-07 15:04] #10 closed, assigned to julianlam

[2014-06-15 17:23] mani95lisa opened #12 "How to add the code hightlight rule for Apple's new script "Swift" ?"
Is there any tutorial?

Thanks!

[2014-07-20 23:36] Aure77 opened #13 "deprecated 'action:app.load' method in latest nodebb version"
I can see this warning in my logs :

[code]

Could you take a look please.

[2014-07-21 14:47] #12 closed, assigned to nobody

[2014-08-02 12:27] Miaourt opened #14 "Disable markdown in chat ?"
This could be cool if we can disable markdown parser in chat, lot thing are silly in some situation ! ^^'

[2014-09-18 15:57] #13 closed, assigned to nobody

[2014-09-19 01:48] #9 closed, assigned to julianlam

[2014-10-10 18:38] #14 closed, assigned to nobody

[2014-10-10 18:38] julianlam opened #19 "Add rel="nofollow" to all off-site links"

[2014-10-10 19:47] #19 closed, assigned to julianlam

[2014-10-16 15:21] katanacrimson opened #20 "switch to alternate markdown library"
npm package marked contains unaddressed XSS vulns, looks like.  at least three GH issues on their own repo, plus NodeBB/NodeBB#2273 just cropped up.

ref: chjj/marked#492 chjj/marked#203 chjj/marked#229

This issue should be considered critical.

[2014-10-17 17:36] #20 closed, assigned to julianlam

[2014-10-27 01:38] barisusakli opened #21 "link parse error"
socket.io becomes `socket.ihttp://socket.io`

https://community.nodebb.org/topic/104/hmmm-testing

[2014-10-27 13:15] mani95lisa opened #22 "markdown style can't work"
I have choosed `xcode` style, and the css is loaded, but the result is like below pic, it's not xcode. I'm not clear what's the reason. And I disabled all other plugins, the version is 0.7.0.

![image](https://cloud.githubusercontent.com/assets/1968989/4791283/58916190-5ddb-11e4-80fc-114ec3a1be06.png)

[2014-10-27 17:03] #22 closed, assigned to julianlam

[2014-10-27 17:05] #21 closed, assigned to julianlam

[2014-10-29 05:16] barisusakli opened #23 "dot getting removed from content"
post `testing this post.` you get `testing this post`

[2014-10-31 14:37] dwendt opened #24 "theme-dependent classname used(breaks highlight in vanilla)"
https://github.com/julianlam/nodebb-plugin-markdown/blob/master/public/js/client.js#L18

This line uses topic-content, but in vanilla it's called .post-content

Also it looks really really bad using any skin that defines a background due to vanilla's `<pre>` styling, but that's vanilla's fault.

[2014-11-06 00:47] #23 closed, assigned to nobody

[2014-11-07 00:36] pitaj opened #26 "Use marked"
https://github.com/chjj/marked

All the cool kids are doing it :)

[2014-11-07 01:33] #26 closed, assigned to nobody

[2014-11-19 16:58] #24 closed, assigned to julianlam

[2015-02-14 06:18] barisusakli opened #31 "sometimes code blocks are not styled"
cold load a few times with cache disabled
https://community.nodebb.org/topic/3860/invalid-file-error-when-trying-to-upload-an-avatar-affects-all-users-and-all-image-file-types

![image](https://cloud.githubusercontent.com/assets/2583394/6198803/6649ccc0-b3e7-11e4-8833-7078fba48a8f.png)

[2015-02-18 04:00] julianlam commented on #31
#32 closes this

[2015-02-18 04:00] #31 closed

[2015-02-18 04:00] julianlam commented on #31
v0.8.6

[2015-04-01 21:08] psychobunny opened #34 "Markdown images should get a specific class (ex. markdown-image) or something"
Right now core just lumps on .img-responsive on everything that's an image in post content, so its very hard to differentiate between this plugin's images and other plugins (ex. emoji, GH plugin, etc)

[2015-04-01 23:43] julianlam commented on #34
Okay. Are you suggesting I add a class and then remove `img-responsive` via js?

[2015-04-07 20:20] #34 closed

[2015-04-20 02:38] julianlam opened #35 "Image protection is too broad (uploaded images get caught)"
Downstream bug: nodebb/nodebb-theme-persona#67

@seaswift

[2015-04-20 02:45] #35 closed

[2015-04-23 20:54] henrikekblad opened #37 "No formatting on code blocks when using persona"
In compose-window all looks ok. But the markdown plugin does not seem to run correctly when viewing the post in thread.

[2015-04-23 21:25] barisusakli commented on #37
https://github.com/julianlam/nodebb-plugin-markdown/pull/38/files

[2015-04-23 21:26] #37 closed

[2015-04-23 21:42] henrikekblad commented on #37
Whoa.. 45 minutes. Impressive. :+1:

[2015-04-29 05:26] nickjanssen opened #39 "nodebb crash, not sure how it's happening"
One particular post on our forum somehow crashes everything:
nodebb sha b917235

[code]

Server log:
[code]

Any ideas?

[2015-04-29 21:29] nickjanssen commented on #39
Apparently the
[code]
causes it. But the official nodebb forum seems to be immune. I wonder why...

[2015-04-29 22:13] Thaiberius commented on #39
Also leaves 502 error.

[2015-04-29 22:51] julianlam commented on #39
#36 may have resolved this. Please install v2.1.7 of the markdown plugin and give it a go :smile:

[2015-04-29 23:26] julianlam commented on #39
As for why the official forum is immune, most likely we have not updated to the version of the markdown plugin that contains this bug :laughing:

Let me know if it is resolved with latest published version, and we can close this.

[2015-07-13 21:05] rbeer commented on #39
LGTM @ 3.0.4

[2015-07-13 21:06] julianlam commented on #39
Cheers

[2015-07-13 21:06] #39 closed

[2015-07-15 20:24] tfraley opened #44 "Your version of NodeBB (v0.7.0) is only cleared to upgrade to v3.0.4"
New to nodebb.

Any reason I am getting this error when clicking the upgrade button in NodeBB v7.0

"Your version of NodeBB (v0.7.0) is only cleared to upgrade to v3.0.4 of this plugin. Please update your NodeBB if you wish to install a newer version of this plugin."

[2015-07-15 20:28] julianlam commented on #44
Yup! The latest version of Markdown published today (v4.0.0) includes functionality that only NodeBB v0.7.1 contains.

As NodeBB v0.7.1 has not been released yet, you are advised to stick with v3.0.4 until then :smile:

[2015-07-15 20:28] julianlam commented on #44
Don't worry, the two versions are quite similar, functionality-wise :smile:

[2015-07-15 20:28] #44 closed

[2015-07-15 21:08] tfraley commented on #44
Aaa ok there is a 7.1 just not out yet. found it funny a plugin is asking for something that is not out yet.

[2015-08-11 05:32] ip6li opened #45 "$ characters are suppressed if used more than once"
If following fragment entered with markdown

    sound_prefix : $${sounds_dir}/de/tts/google

NodeBB displays
sound_prefix : ${sounds_dir}/de/tts/google
only. One '$' is missing. Expected behaviour: Both '$' should be displayed. Preview shows '$$' but page shows '$' only.

[2015-08-11 20:40] julianlam commented on #45
Wow, weird bug, thanks @ip6li...!

[2015-08-12 22:24] julianlam commented on #45
Reported upstream:

psychobunny/templates.js#43

[2015-08-12 22:24] #45 closed

[2015-08-24 13:50] FoghostCn opened #49 "how can I upload image in the editor"
how can I upload image in the editor,with markdown I can insert image with `![text](url)`, but how can i upload it

[2015-08-24 13:56] julianlam commented on #49
Hi there,

You can enable the option to upload images in the ACP settings:

![selection_051](https://cloud.githubusercontent.com/assets/923011/9441841/5cc522ee-4a46-11e5-8144-c6f6c0b85501.png)

[2015-08-24 13:56] #49 closed

[2015-08-27 22:03] barisusakli opened #50 "use filter:config.get"
instead of making a new ajax request on cold load

[2015-08-30 19:43] barisusakli opened #51 "email link parsing"
https://community.nodebb.org/topic/6393/email-and-user-parsing-conflict

[2015-09-06 04:37] barisusakli opened #52 "after post edit code blocks dont have style"
https://community.nodebb.org/topic/6455/code-snippet-could-not-be-rendered-after-edit

[2015-09-23 13:46] #52 closed

[2015-09-23 13:47] #51 closed

[2015-09-23 22:36] #50 closed

[2015-11-10 22:35] metahusk opened #56 "nodebb-plugin-markdown is and nodebb-plugin-iframely break each other in nodebb v0.9.x?"
When I have both nodebb-plugin-markdown and nodebb-plugin-iframely activated nodebb no longer works. When I deactivate either it fixes this issue. The administration menu still works to disable the plugins but I did not try refresh.

Thanks for your hard work!

iframely 0.6.1
markdown 4.0.7

[2016-01-04 21:09] akhoury opened #58 "[question] I think allow-html should sanitize the dangerous tags by default."
so if one allows HTML, by default, it should sanitize the dangerous tags, unless one chooses not to.

Basically, what I am suggesting is to combine both plugins, -markdown and -[sanitizehtml](https://github.com/akhoury/nodebb-plugin-sanitizehtml), where -markdown would uses the [sanitize-html](https://www.npmjs.com/package/sanitize-html) module.

The reason I think this is a not-so-bad idea is tha

[2016-01-04 21:10] akhoury commented on #58
if you agree, I'll submit a PR

[2016-01-04 21:27] julianlam commented on #58
If I understand you correctly, you want to add in sanitizehtml, so that if "Allow HTML" is ticked, then dangerous tags are *still* sanitised?

May be better to not bother using `markdown-it`'s HTML sanitisation and just use sanitizehtml throughout...

[2016-01-04 21:54] akhoury commented on #58
really? like an XSS attack? do you have an example?

The only attacks I am aware of using images don't really depend of the tag, but rather on the URL, which is left-alone with the "markdownification". Some explained [here](http://security.stackexchange.com/a/8625/60997), and there is another where the img src would return a 401 and prompt the user to enter a username and password via basic auth -

[2016-01-04 21:55] julianlam commented on #58
We had `markdown-it` patched to not execute data-uris, I believe... a specially crafted one could execute code, though I could be mistaken as it's been awhile now.

[2016-01-04 22:07] akhoury commented on #58
i see, we can always create a whitelist of allowed tags (vs a blacklist which we would need to keep up to date) - just like what would the sanitize-html would support as config.
![img](https://camo.githubusercontent.com/b561ac73b2d37e33a90348dced7b410725be7932/687474703a2f2f692e696d6775722e636f6d2f345655385353422e706e67)

This way, we can disallow any tags (or even attributes) that would cause a n

[2016-01-06 14:16] julianlam opened #59 "Update help text to point to CommonMark help"
It is much more user friendly than the original daring fireball page.

http://commonmark.org/help/

[2016-01-14 01:34] Pappmann opened #61 "[outdated] nodebb-plugin-markdown installed v4.0.10, package.json requires 4.0.9"
im running latest git version of nodebb

[2016-01-14 02:36] julianlam commented on #61
Normal, looks like you'll need to upgrade your core NodeBB :smile:

[2016-01-14 02:36] #61 closed

[2016-01-14 02:37] julianlam commented on #61
https://github.com/NodeBB/NodeBB/commit/c18d185ce48dad38a400f1d3c2e5e5e8769a6ca0

[2016-01-15 13:34] Pappmann opened #62 "add Markdown code strikethrough"
please add strikethrough in composer
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

[2016-01-15 15:15] #62 closed

[2016-01-15 15:27] Pappmann commented on #62
thanks :)

[2016-01-15 15:32] #59 closed

[2016-01-15 15:33] julianlam commented on #56
I can't seem to reproduce, both plugins are running here. Do you have an API key defined in iframely?

[2016-01-15 15:33] #56 closed

[2016-02-29 16:27] barisusakli opened #67 "config.highlight is always true"

[2016-03-23 16:51] pichalite opened #68 "markdown syntax for url's issue"
using `[espn.com](espn.com)` works

but using `[espn](espn.com)` makes it a relative URL

[2016-03-27 03:15] Choonster opened #69 "Suggestion: Include more languages in highlight.js"
The build of highlight.js used in the current version of this plugin only includes the default languages (minus Device Tree).

I'd like to suggest including more languages, possibly all of them. The two I'd most like to see are Lua and Go.

[2016-03-27 13:52] BenLubar commented on #69
Keep in mind that the full hljs with all languages is about a megabyte, so if possible, it'd be beneficial to do that server-side and just send the result to the client.

[2016-03-27 14:25] julianlam commented on #69
Hm... some history behind the plugin, I actually did used to do the syntax highlighting on the server-side.

After testing with two different libraries, I ended up switching it to client side because:
* One library would throw errors on some syntax, or hang indefinitely on fail
* Another library was synchronous and would take far too long to render a post (a particularly long post took multiple se

[2016-04-27 12:20] #67 closed

[2016-04-28 13:41] pikshub opened #70 "italic text problem"
http://i.imgur.com/Ap6IuPg.jpg

[2016-04-28 13:49] #70 closed

[2016-05-09 01:55] BenLubar opened #72 "composer help link to CommonMark should open in a new tab"
The composer help dialog is effectively a separate window to the composer. If a user clicks the link to CommonMark, it closes the composer and changes the forum tab to a different website. This confuses at least one of my users. :rat:

[2016-05-11 19:50] julianlam commented on #72
Hm... is `externalBlank` enabled? That should cause the composer help link to also be `target="_blank"`. It's a Markdown option, by the way.

[2016-05-11 19:58] BenLubar commented on #72
hmm, that would make all posted links be target="_blank", wouldn't it?

[2016-05-11 20:11] julianlam commented on #72
Yes... the idea is to not mess around with link opening behaviour, so if you click a link, it nagivates in that tab, otherwise you shift-click/ctrl-click to open in new window/tab respectively.

[2016-05-11 23:47] #72 closed

[2016-05-23 07:05] huegelc opened #73 "Tables not responsive"
On mobile devices tables on posts are not responsive. I would like to add a div element to the template:
[code]

 that generates the html code but don´t know where to look. Would be nice if you can point me to the right direction. Thank you

[2016-05-25 21:06] julianlam commented on #73
Your best bet would be to modify the theme stylesheet itself (github.com/NodeBB/nodebb-theme-persona) and add the overflow declaration there.

The plugin itself doesn't actually construct the HTML, that's done by the dependent markdown-it plugin.

[2016-05-25 21:06] #73 closed

[2016-06-11 19:17] benjaminabel opened #75 "Allow usage of markdown-it plugins"
It would be nice to allow admin to add [markdown-it plugins](https://www.npmjs.com/browse/keyword/markdown-it-plugin) in the acp.
However this would needs:
1. to install the plugins from npm
2. add the require to the `js` file for all plugins added.

[code]

Do you think it's possible?

[2016-06-13 14:50] julianlam commented on #75
Hi @benjaminabel :smile:

Yes it is definitely possible, and it's something I've wanted to add to the plugin, so will have to look into this soon.

[2016-06-13 15:11] benjaminabel commented on #75
Thanks for your quick answer @julianlam I was just looking into the
markdown-it code to understand clearly how the use function works and it
seems easy to implement.
I can try to do this however I'd like to know if you have any requirements
on the acp implementation.

[2016-06-13 15:20] julianlam commented on #75
Yes, in general I want to make it trivial to install the plugins, but I want the list of plugins to be hardcoded into the file itself (and others can add it via pull request if required).

So in the plugin itself, there would be an array like `['markdown-it-deflist']`, and the ACP frontend would show this as a list of plugins to activate and/or install.

Likewise, on NodeBB start, if the markdown

[2016-06-13 16:08] benjaminabel commented on #75
If I correctly understand the plugin section would look very similar to the
main plugin acp however some plugins may pass some specific configuration,
how can we handle this.

Yes, in general I want to make it trivial to install the plugins, but I
want the list of plugins to be hardcoded into the file itself (and others
can add it via pull request if required).

So in the plugin itself, there woul

[2016-06-13 19:01] julianlam commented on #75
That's more difficult... are these a minority, or do all plugins require some level of configuration?

If they only require basic configuration or work with sensible defaults, we could store those defaults alongside in the markdown plugin itself...

Lends credence to the idea that the markdown plugin would only accept a small subset of plugins.

[2016-06-22 09:05] KitsuneSolar opened #77 "Update highlight.js"
Hi! How update highlight.js to latest version?
I replace /public/js/highlight.js to v9.4, it working. But browser console give me error:

[code]

HighlightJS v9.4 support require.js, but i not know how connect this version to NodeBB.

[2016-06-22 15:41] julianlam commented on #77
Thanks, will take a look today

[2016-06-22 15:45] julianlam commented on #77
I added highlight.js years ago, so there's probably a better way to include the lib now.

[2016-06-22 16:41] #77 closed

[2016-06-22 17:50] KitsuneSolar commented on #77
@julianlam I think this will cause an error request.js. I will try code and report.

[2016-06-22 18:21] julianlam commented on #77
:+1:

[2016-07-16 13:17] paviro opened #78 "solarized-light.css should be solarized_light.css"
Syntax highlighting for me only works some times. Mostly after server restarts it just stops working for a couple of days/weeks and then some day kicks back in without any explanation.
Currently it does not work: https://forum.magicmirror.builders/topic/51/gpio-without-root/4

Any ideas? Using NodeBB v1.1.0 and the latest plugin version.

[2016-07-16 13:24] paviro commented on #78
Seems like the css file is called `solarized-light.css` but the client tries to load `solarized_light.css `...

[2016-09-09 03:46] psychobunny opened #80 "Ability to anchor to headers"
http://stackoverflow.com/questions/6695439/how-to-link-to-a-named-anchor-in-multimarkdown

So IMO everytime somebody does something like

`## This is a header`

It should generate a link such as this, using something similar to slugify:

`<h2><a name="this-is-a-header"></a>This is a header`

This way people can create for example a table of contents on a long post.

[2016-09-22 03:56] pitaj commented on #80
Just gonna leave this here:
https://github.com/jonschlinkert/markdown-toc

Oh, and commonmark is cool, too:
https://www.npmjs.com/package/commonmark

[2016-09-22 04:38] pitaj opened #81 "Allow admins to post unsanitized HTML"
Title says it all. Admins should be able to post unsanitized HTML inside their Markdown since they have access to the option to enable/disable the sanitizer.

[2017-03-24 04:28] Telokis commented on #69
I'd also like to see more languages available. Maybe there could be some kind of configuration done in the admin panel so that I can chose whether or not I need a specific language.
Or, even better, some kind of dynamic searching of the requested language, using some kind of API.

[2017-03-24 04:31] pitaj commented on #69
It might be possible include extra languages by including external cdn scripts in your custom HTML:

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/languages/lua.min.js"></script>

A list of them is here: https://cdnjs.com/libraries/highlight.js/

[2017-03-24 04:46] Telokis commented on #69
Alright, thanks. That may seem stupid but how do I include custom HTML into NodeBB?

[2017-03-24 05:03] pitaj commented on #69
ACP -> Appearance -> Custom HTML & CSS

You can also just search "HTML" with the ACP search box.

[2017-03-24 05:10] Telokis commented on #69
I just tried but it doesn't seem to work. When I inspect the `<head>` I can see the script but it doesn't recognize `lua` as a valid language.

[2017-03-24 05:14] pitaj commented on #69
Are there any errors in the JS console? It could be that hljs is loaded after the language-specific script.

[2017-03-24 05:20] Telokis commented on #69
Yes, that's the issue. Any way to put at the end of `<body>` instead?

[2017-03-24 05:30] pitaj commented on #69
Try putting the following in your custom HTML:

[code]

[2017-03-24 05:34] Telokis commented on #69
Alright, that works. I didn't know you used requirejs. That's nice. I'm pleased with this solution, thank you very much for your time!

[2017-07-09 03:37] yariplus opened #85 "Extra spaces upon formatting incorrectly offsets selection."
If you select an extra space and hit a formatting button, the new selection is offset.

[2017-07-09 03:38] yariplus commented on #85
This is especially annoying because some browsers automatically select a leading space when double-clicking.

[2017-07-09 03:40] pitaj commented on #85
Can you provide a couple examples of what you mean? I.e. what you expect to happen vs what actually happens.

[2017-07-09 04:57] yariplus commented on #85
Sure thing. When I select a word here:

https://puu.sh/wF9UW/e712b59eb8.png

I would expect the word link to be part of the link text (which it is) and for the link url to be selected. Instead this happens:

https://puu.sh/wF9VF/602f6734b7.png

[2017-07-10 15:54] julianlam commented on #85
It looks like the **simpler** logic would've been sufficient... that is, if you highlight `link `, then `link ` makes it into the anchor, space and all.

There's some logic here to handle leading and trailing whitespace, but it doesn't adjust the selection values as well.

[2017-07-10 15:57] julianlam commented on #85
Logic was [added in this commit](https://github.com/NodeBB/nodebb-plugin-composer-default/commit/d9f195fe29d1b62f27e1a8336ec9a2cd2c660534) by @BenLubar 👍

[2017-07-10 16:21] julianlam commented on #85
0621708 and nodebb/nodebb-plugin-composer-default@d889cad16377081d43bafffba1096cf20064a38a

[2017-07-10 16:22] julianlam commented on #85
65329b9bd75d2566a328170b6edaa1eb86109e1f

[2017-07-10 16:22] #85 closed

[2017-07-25 16:55] abhinov2 commented on #80
How and where to add fa fa icon in markdown header.
there is fa fa icon of $ through which inline math is coming on composer , where it has been done ,
Guide me through.

[2017-07-25 17:01] julianlam commented on #80
@abhinov2 No. Stop posting comments to random issues. Use the forum instead: https://community.nodebb.org

[2017-10-31 16:28] julianlam commented on #68
Fixed on latest already

[2017-10-31 16:28] #68 closed

[2017-10-31 16:32] julianlam commented on #80
@psychobunny @pitaj Header anchors were removed from markdown-it for... reasons. I can't really recall right now.

Jon Schlinker's plugin does support it but markdown-it is a hard fork away, so we stick with it.

It is available as a plugin however: https://www.npmjs.com/package/markdown-it-anchor, potentially could add it to the markdown plugin.

[2018-01-13 22:43] pitaj opened #86 "Support markdown checkboxes"
ref NodeBB/NodeBB#6235

This could be useful:
https://www.npmjs.com/package/markdown-it-checkbox

[2018-01-15 16:00] julianlam commented on #86
Yep, using a markdown-it plugin is the easiest way to get this done, since any other method is essentially rewriting the same plugin anyway.

[2018-01-27 21:11] antoine-pous commented on #86
Any news about this feature? I've seen a PR wich can be updated and merged to implement markdwon-it :)

[2018-01-27 21:14] julianlam commented on #86
Not yet, but thank you for the reminder 🙂

[2018-02-21 20:00] julianlam commented on #86
I do have it working, by the way... but I'd like to finish it up so that if you click on the checkbox it updates the post. Still working on that part.

[2018-02-23 20:59] #86 closed

[2018-04-18 09:14] FaizanZahid opened #87 "Mark down plugin getting error causing node bb to restart."
Please see full details of what happened here

https://community.nodebb.org/topic/12233/node-bb-getting-shutdown-due-to-markdown-plugin-and-2-services-try-to-restart-it-but-it-fails

[2018-04-24 14:15] julianlam commented on #87
Please see comments in that post -- another plugin is interfering with markdown

[2018-04-24 14:15] #87 closed

[2018-05-07 20:42] yariplus opened #88 "Rude checkbox selector."
The plugin indiscriminately selects all checkboxes in a post, and stops other plugins from using checkboxes because it overrides the click event. Need to add a class to designate the checkbox as added by the Markdown plugin.

[2018-05-08 19:29] #88 closed

[2018-05-08 19:30] julianlam commented on #88
@pauljherring @benlubar Too little too late for TDWTF, but here it is :smile:

[2018-05-08 19:33] julianlam commented on #78
Hi @paviro -- I totally did not see this (for apparently, almost two years)... is this still happening on latest? It works fine when solarized-light is selected for me.

[2018-05-08 19:34] julianlam commented on #78
![selection_393](https://user-images.githubusercontent.com/923011/39778795-54d3c3c0-52d5-11e8-8af1-51a2fd7f031c.png)

[2018-05-08 19:49] pauljherring commented on #88
I don't believe I've seen checkboxes used on ours...

....

... because they're not enabled or something?

https://what.thedailywtf.com/topic/25119/checkboxes

Raw:
![image](https://user-images.githubusercontent.com/3939886/39779407-ffdbe38a-5300-11e8-85b2-65fbdeeeeb41.png)

Live:
![image](https://user-images.githubusercontent.com/3939886/39779444-179d0cec-5301-11e8-8ca9-47044950d393.png)

[2018-05-08 19:50] pauljherring commented on #88
Anyway, just an observation, not necessarily a bug report.

[2018-05-08 19:51] julianlam commented on #88
I believe they're sanitized out, but some plugin you guys were using (details plugin) fell back to checkboxes as a shim in IE. This ought to fix that, even though a workaround was already put in place.

[2018-05-09 06:03] BenLubar commented on #88
Are we using some sort of GitHub flavored markdown in NodeBB?

- [ ] Because
- [ ] that's
- [ ] what
- [ ] this
- [ ] is.

[2018-05-09 15:58] julianlam commented on #88
Not specifically, no. We just enabled the checkbox plugin in Markdown is all :+1:

[2018-06-11 12:22] savageautomate commented on #81
+1

[2018-06-11 12:34] benjaminabel commented on #75
@julianlam I'm closing since it's too old.

[2018-06-11 12:34] #75 closed

[2018-06-11 20:11] julianlam commented on #81
What's the use case for this feature?

[2018-06-11 20:28] savageautomate commented on #81
In my case, I would like to limit regular users to using the Markdown to protect against an malicious HTML just at it works today.  But there are cases as the site owner/administrator where I would like to add richer custom formatted content than what Markdown can deliver and also potentially embed content from other my services via iframe or raw javascript.

So in summary I would like to maintain

[2018-08-13 16:53] julianlam opened #90 "Allow line numbers in code blocks"
Toggleable option

[2018-08-13 16:54] #90 closed

[2018-10-24 08:15] awunnenb opened #92 "Markdown tables can't start with empty cells"
NodeBB version: 1.10.2
nodebb-plugin-markdown: 8.8 (latest)
**NodeBB git hash: ab7657d **
Database type: mongo
Database version: 3.6
First I did this: upgrade to 1.10.2
Then, all existing and new Markdown tables with empty first cells where broken
What you expected: empty first cells
**What happened instead: cells moved to left side **
Markdown tables can't start with empty cells since nodebb 1.10

[2018-10-24 14:54] pitaj commented on #92
Can you provide an example which used to work and no longer does? Out it in a code block please

[2018-10-24 16:18] awunnenb commented on #92
`Datum | Zeit | Heim | Gast | Ergebnis |
--- | --- | --- |  --- | --- |
26.10.2018 | 18:30 | SV Darmstadt 98 | SpVgg Greuther Fürth | - : - |
 | **18:30** | **1. FC Magdeburg** | **Hamburger SV** | **- : -** |
27.10.2018 | 13:00 | 1. FC Köln | 1. FC Heidenheim 1846 | - : - |
 | 13:00 | Erzgebirge Aue | Arminia Bielefeld | - : - |
 | 13:00 | SC Paderborn 07 | SV Sandhausen | - : - |
28.10.2018 | 13

[2018-10-24 17:19] pitaj commented on #92
You had an inline code segment but I fixed it to a code block. It appears that the formatting you're describing is equal to what GitHub does.

[2018-10-24 18:09] awunnenb commented on #92
there where some changes from nodebb 1.10.1 to 1.10.2 (plugin 8.4 -> 8.8) and we have hundred of broken tables since these changes. In the old version a | at the beginning was interpreted as an empty cell.

[2018-10-24 18:15] julianlam commented on #92
It looks like this is governed by our upstream markdown parser (markdown-it)...

If I put `&nbsp;` before the `|`, it seems to work fine then... I'd advise you to open an issue at the markdown-it repo and link back to here for continued discussion.

[2018-11-16 03:03] djensen47 opened #96 "Forums in subfolder filter out relative path images not in subfolder"
This is a big  problem on https://www.axisandallies.org/forums

The reason is that the import plugin imported all of the posts with attachments as if the forum were not installed in a subfolder.

For instance this is what was imported:
[code]
When it should be
[code]

I dug through a lot of code and ended up here in this plugin specifically these lines:
https://github.com/julianlam/nodebb-plugin-m

[2018-11-18 13:37] youhosi opened #97 "Unable to parse library"
[code]

[2018-11-18 14:44] julianlam commented on #97
Should already be fixed on latest, what version are you using?

[2018-11-18 14:44] #97 closed

[2018-11-18 14:47] youhosi commented on #97
I used version 8.8.2.

[2018-11-18 16:03] pitaj commented on #97
What node version?

[2018-11-18 16:08] youhosi commented on #97
v10.13.0

[2018-11-18 19:05] julianlam commented on #97
v8.8.3

[2018-11-19 17:32] julianlam commented on #97
v8.8.4

[2018-11-19 17:39] youhosi commented on #97
I have updated, reloaded resources, the error does not show, but the plugin does not work. There is also no tab to manage it.

![zrzut ekranu z 2018-11-19 18-39-20](https://user-images.githubusercontent.com/24297084/48724789-76294d80-ec2a-11e8-8c3d-8735028b3a93.png)

[2018-11-19 18:04] pitaj commented on #97
Did you run rebuild and restart?

[2018-11-19 18:04] youhosi commented on #97
yes

[2018-11-19 18:06] youhosi commented on #97
[code]

[2018-11-19 18:08] julianlam commented on #97
You don't separate commands with `;`. That means they run in background and the next command is executed. Separate commands with `&&`

[2018-11-19 18:12] youhosi commented on #97
thanks, works :)

[2018-11-27 17:16] julianlam commented on #96
Hi there,

The filtering code in there resolved #3047 because uploaded images follow a very specific format (in 2015, it did, anyway)... that is, they'd be **relative** urls, and they'd be located in **/uploads**.

So I put in a simple check to comb through the image links as discovered by the markdown plugin. If it was a relative url (no hostname, 1st conditional), then it verifies that it either

[2018-11-27 17:17] julianlam commented on #96
That said, I'll probably just add another conditional to allow imported attachments, and review the relative path logic if necessary.

[2018-11-27 17:44] #96 closed

[2018-11-27 17:44] julianlam commented on #96
v8.8.5

[2018-11-27 17:45] julianlam commented on #96
Markdown will now not filter out urls with the correct prefix but wrong relative_path structure.

[2018-12-10 07:18] huynhphuchuy opened #98 "Code highlighter gone on reload"
When I redirect to this topic by clicking the url (https://vgolang.com/topic/10/test-code) from topic lists in homepage it works well but when I reload, the highlighter has gone. Pls take time and help me for this, many thanks!

[2018-12-17 22:56] gramakri opened #99 "Detection of highlight.js styles directory does not work sometimes"
The code at https://github.com/julianlam/nodebb-plugin-markdown/blob/master/index.js#L121 assumes that highlight.js is installed one level below. Depending on the plugins installed and the order of installation, the module moves around and is sometimes actually located at `__dirname/node_modules/hghlight.js`.

To fix, maybe we can change the path detection to `path.resolve(require.resolve('highlig

[2018-12-20 19:18] pitaj opened #100 "Code blocks are not ignored"
See https://github.com/NodeBB/nodebb-plugin-emoji/blob/master/lib/parse.ts#L81 for a regex that could help with this.

NodeBB/NodeBB#7132

[2019-01-04 20:43] julianlam commented on #99
:clap: TIL about `require.resolve()`

[2019-01-04 20:45] julianlam commented on #99
v8.8.7

[2019-01-04 20:45] #99 closed

[2019-01-04 20:46] julianlam commented on #99
I ended up using `path.join` anyway, since we're appending a relative path to the resolved value. I actually have no idea if `path.resolve` has more overhead, to be honest.

[2019-01-04 20:50] julianlam commented on #100
Yes, code blocks are not ignored, because that is valid markdown :stuck_out_tongue:

You probably want mentions, no? In which case, I cannot reproduce.

[2019-01-04 20:51] #100 closed

[2019-01-28 23:51] #98 closed

[2019-02-20 12:35] Jey-Cee opened #101 "[Feature request] Copy code to Clipboard"
I am not sure if this is the right place, but i hope.
A lot of users has requested a button for copy code inside a code container.
If you can implent this, it would be nice.

[2019-02-21 10:23] Dravere opened #102 "Husky crazyness"
So you implemented automatic lint checking and similar things. But it seems there are at least two mis-configurations at the moment, which prevent some valid type of commits entirely.

* You can't change `admin.js` at the moment. `admin.js` is not valid according to your lint settings. It seems to have missing global definitions and missing the `'use strict'` at the beginning of the file. I'm very

[2019-02-21 10:31] Dravere opened #103 "Add higlight.js as module via Webpack"
I saw in the commit history that you tried to add `highlight.js` as a module. Sadly they seem to only support Node style module via npm. Thus you reverted back to the previous type.

I'm considering achieving this in my fork of this plugin via [Webpack](https://webpack.js.org/). Webpack could repackage the `highlight.js` module to AMD. Which would then work with NodeBB. Is this something you would

[2019-02-21 15:43] julianlam commented on #102
Hi @Dravere -- I use [an .eslintrc which is identical to the one in NodeBB core itself](https://github.com/julianlam/nodebb-plugin-markdown/blob/master/.eslintrc). In vscode I use the eslint plugin which highlights errors and autofixes on save (though I think the latter is an option you have to toggle).

Husky and lint-staged only throw errors on staged files, which is why you're only seeing error

[2019-02-21 15:43] julianlam commented on #102
ESLint shouldn't throw errors with `highlight.js`, I think... since that's not a file that's ever staged :thinking:

[2019-02-21 15:47] julianlam commented on #102
Just FYI there are some binaries installed that might help... `node_modules/.bin/eslint --fix {filename}` comes to mind, though I just go into the file manually and hit ctrl-S to invoke the autofixer.

[2019-02-21 15:54] #102 closed

[2019-02-21 15:54] julianlam commented on #102
Let me know if that gets you going again :smile:

[2019-02-21 15:58] Dravere commented on #102
Seems to be good now. At least in regards to `admin.js`. I think the thing with the `highlight.js` was, that I changed that file previously and the merge of the current state changed `highlight.js` and thus wanted to lint it and failed at it. Thus whenever you want to update the `highlight.js` file you might run into problems with it.

[2019-02-21 16:00] julianlam commented on #102
I've added the vendor files to an  .eslintignore so hopefully that's all
that's needed.

On Thu, 21 Feb 2019, 10:58 Dravere, <notifications@github.com> wrote:

[2019-02-21 16:04] Dravere commented on #102
Oh, I missed that in the commit. Just tested it as well by just changing something in `highlight.js`. Yes it works now as well. Thank you very much!

[2019-02-21 16:09] julianlam commented on #103
Hah yes, I think I actually tried to implement highlight.js as an npm module **twice**. I forgot what happened the first time :man_facepalming:

If you could achieve this with Webpack, I'd be grateful. I think we can use an npm prepublish script to invoke webpack to build a new highlight.js file, right?

[2019-02-21 16:11] julianlam commented on #103
You seem to know what you're doing, I've added you as a collaborator to the repo. Don't go adding bitcoin miners or anything to the plugin, okay? :laughing:

[2019-02-21 16:17] Dravere commented on #103
Haha ... no Bitcoin, gotcha, Dogecoin it is then :grin:

I'll work out a proposal in a separate branch and submit a pull request. And yes I think it should work via prepbulish script. I'm still kind of new in Webpack and it is an intimidating tool.

[2019-06-30 06:04] free2pay opened #106 "how can I draw in the editor?"

[2019-06-30 16:39] julianlam commented on #106
This is neat, I'll look into adding support for this

[2019-07-02 20:52] julianlam commented on #106
tylingsoft/markdown-it-mermaid#9

[2019-08-05 17:57] alfazaz opened #108 "How to disable use of markdown-it-checkbox..."
Hello !

I'm trying to make a nodebb plugin to extend nodebb-plugin-markdown **without changing its code**... One problem is that I really don't want markdown-it-checkbox (problem with LaTeX formulas parsing, like $P[X]=...$)... I see no option to disable markdown-it-checkbox without removing it from this plugin (in updateParserRules). I would like not to have to change your code...

Is there a wa

[2019-08-05 18:26] julianlam commented on #108
No need for something so complicated I think, I'll just make it a toggle-able option!

[2019-08-05 18:40] julianlam commented on #108
v8.10.3 :)

[2019-08-05 21:45] alfazaz commented on #108
Great, thanks ! I will be able to go forward on my plugin work tomorrow. :-)

[2019-08-06 10:01] alfazaz commented on #108
@julianlam Just a detail : you forgot to remove a console.log in index.js (line 238)... ;-)

You can close this issue after.

[2019-08-06 14:52] #108 closed

[2019-08-06 14:52] julianlam commented on #108
v8.10.4 :laughing:

[2019-12-02 10:20] alfazaz opened #112 "Parse problem with bold+italic"
Hello !

I found a strange problem with bold+italic parsing. For example, when I type (on my nodebb v1.13.0 forum or on nodebb community forum) :

[code]
There must be something wrong in the parsing for bold+italic. ;-)

[2019-12-02 16:30] julianlam commented on #112
@alfazaz It certainly seems like it -- I am unable to reproduce on [the official markdown-it demo](https://markdown-it.github.io/), so it certainly points to NodeBB as the culprit :smile:

Perhaps we should update the markdown-it version...

[2019-12-02 17:07] alfazaz commented on #112
Ok... I will wait for the improvement.

[2019-12-02 18:40] julianlam commented on #112
v8.11.0

[2019-12-02 18:41] julianlam commented on #112
9073081

[2019-12-02 18:41] #112 closed

[2020-02-21 22:21] oplik0 opened #113 "Support multiline tables"
[NodeBB Community reference](https://community.nodebb.org/topic/14584/multiline-table-not-working/5)
While the base markdown-it syntax that's based mostly on CommonMark doesn't support much in terms of pure Markdown tables, plugins allow it to overcome this limitation (and as #106 shows Julian seems to be willing to integrate them if they add desirable functionality).

[markdown-it-multimd-table](

[2020-02-22 00:08] oplik0 opened #115 "Numbered lists reset numbering if <ol> element is broken up"
Like that title says. If between the numbers in a list anything breaks up the <ol> (for example, starting another parahraph) the numbering starts at 1 no matter the digit we used.
So something like:
[code]
returns basically:
[code]
example in composer on community.nodebb.org
![example](https://i.imgur.com/U658H2C.png)

Edit: it actually appears like you just can't start at any number other than 1

[2020-02-25 18:16] #113 closed

[2020-02-25 18:19] #115 closed

[2020-02-25 18:22] julianlam commented on #103
@Dravere, @barisusakli is working on implementing webpack in core, so this might be something that interests you. We're hoping to deprecate require.js and use webpack exclusively :grimacing:

[2020-05-22 04:16] Myuki opened #118 "[Feature Requests] Allow admin specified HTML tag"
Not to allow all HTML tag, admin can choose some specified HTML tags are allowed like <ruby>, <rt>, <br/> and so on. In some situation is necessary for improve text effect.

[2020-10-22 16:02] SaeedFazlollahzadeh opened #119 "Automatic direction in quote block issue"
Hello,

As it's told in [this topic](https://community.nodebb.org/topic/15065/issue-of-quoting-and-directions), there's an issue when website is RTL, quote contents inside is exactly RTL too, that is not good for English quotes in an RTL website.

I'll be happy if it could be fixed automatically in the next update.

[2021-01-20 22:14] wu-lee opened #124 "Missing stylesheet files such as `railscast.css`"
I've noticed "404 not found" errors in the browser console during the loading of my NodeBB instance (v0.16.) when it uses this plugin (v8.12.4), specifically with URL paths like this:

    /plugins/nodebb-plugin-markdown/styles/railscasts.css

The filename `railscasts.css` changes to match whichever highlighting theme is selected in the markdown plugin.

I also see this in the server logs on rebui

[2021-01-21 18:14] julianlam commented on #124
Is this in a development instance of NodeBB w/ Markdown plugin?

[2021-01-21 22:37] wu-lee commented on #124
Ah, no, sorry - I see mistyped the version, which should have been v1.16.0. The plug-in version is correct, however.

We're using NodeBB packaged on the Cloudron platform. (https://cloudron.io).

There's some background information in this forum post [here][1].

[1]: https://forum.cloudron.io/topic/4250/nodebb-general-flakiness-suspected-broken-install

[2021-01-25 17:48] julianlam commented on #124
@gramakri Does Cloudron install dependencies differently from a standard `npm` or `yarn`?

Around npm 4, I think they started flattening dependencies, and so that is why markdown now looks for `highlight.js` in `/app/code/node_modules/highlight.js` instead of `/app/code/node_modules/nodebb-plugin-markdown/node_modules/highlight.js`

This looks to be the reason for the discrepancy.

[2021-02-02 17:05] michael-brade opened #125 "List rendering of numbered lists"
Hi,

are numbered lists supported? If I enter
[code]
the result is
* item
* item
* item

in the new nodebb post. **Hovever**, the NodeBB composer shows it correctly in the preview as a numbered list.

(using NodeBB 1.16.2, composer-default 6.5.5, plugin-markdown 8.12.4)

[2021-02-03 15:10] julianlam commented on #125
Hi @michael-brade in my testing the lists are rendered correctly in the topic:

![image](https://user-images.githubusercontent.com/923011/106766536-f8359f00-6607-11eb-9192-d1f0471bfd83.png)

Are you using a different theme from vanilla/persona/material/slick?

[2021-02-03 15:15] michael-brade commented on #125
Oh, I didn't know the theme could change that. Yes, I am using Oxide.

Guess I'll have to fix the theme then. Thanks for the answer!

[2021-02-03 15:15] #125 closed

[2021-02-03 15:16] julianlam commented on #125
:+1: Yes, looks like it is a bug with the theme. The problem is that in some themes, each post entry is an `<li>`, and so that mucks up with the browser default CSS as each bulleted/numered list thereafter is actually styled as though it were a descendant...

So each theme needs to override the bullets back to the regular style :smile:

[2021-02-03 17:32] michael-brade commented on #125
very cool, that was exactly it! :-) Thanks :grin:

[2021-06-23 17:59] julianlam opened #134 "Add height to images (and width maybe) if we have sizes for them"

[2021-06-23 20:29] #134 closed

[2021-06-23 20:30] julianlam commented on #134
@boomzillawtf You may be interested in this, as it resolves jellopotato for locally uploaded images.

[2021-07-10 14:17] barisusakli opened #135 "code highlighting doesnt use css selected in acp"
github.css is selected on acp page of the plugin

![image](https://user-images.githubusercontent.com/2583394/125166095-f7310c80-e167-11eb-9d07-1e925dde3c21.png)

Client side config.markdown.theme returns `railscasts.css`.

[2021-07-10 14:39] #135 closed

[2021-08-30 08:57] renovate[bot] opened #147 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): update dependency highlight.js to v11

## Open

These updates have all been created already. Click a checkbox below to force a

[2021-10-14 22:31] barisusakli opened #160 "error in rules.image"
TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received null
    at validateString (internal/validators.js:124:11)
    at Object.basename (path.js:1156:5)
    at Object.parser.renderer.rules.image (/home/nodebb/nodebb/node_modules/nodebb-plugin-markdown/index.js:354:26)
    at Renderer.renderInline (/home/nodebb/nodebb/node_modules/markdown-it/lib/renderer.js:275:28)

[2021-10-14 22:33] #160 closed

[2021-11-04 00:20] T3P3 opened #167 "Spurious {1} inserted into autodetect code highlighting when numbering enabled."
There is a bug where specific words in a code block set to use line numbering will cause some empty following lines to have spurious ```{1}``` text inserted in it. e.g.:
![image](https://user-images.githubusercontent.com/1642947/140236512-22deddb6-1a0c-4231-ad98-49f37570c33f.png)

this can be confirmed by inspecting the ```<code class>``` element it will be set to ```hljs sql``` for blocks with th

[2021-11-04 00:25] T3P3 opened #168 "Ability to set a default highlight language instead of autodetection"
Most users on out forum do not know to set the code syntax highlighting to a specific language (which make sense as its not a supported language anyway, however JSON works quite nicely as a substitute formatting).

It would be great if there was an option to override the highlight.js autodetect and insert a hardcoded language into every code block. The hard coded language format could be set in th

[2021-11-04 02:11] julianlam commented on #168
Hi there @T3P3

Thanks for the suggestion, it is a good one, and I will look into implementing it.

A complication exists in that highlight.js it may not be actually used directly, but might be called as a markdown plugin, which might make it a dependency of a dependency of a dependency... 😬

We shall see.

[2021-11-04 02:43] pitaj commented on #168
I'm confused. It seems like you already can set the language manually with

[code]

[2021-11-04 15:14] T3P3 commented on #168
Yes that's is exactly it - allow the forum admins to set a default language for code blocks in order to override highlight.js autodetection because autodetection is undesirable if the language in the code block is not a supported one.

@julianlam to get around the dependencies issues, potentially have the text inserted after the backticks:
` ``` <admin set default> `

with the default being blank?

[2022-01-30 19:18] julianlam commented on #168
Potentially, yes... the difficult part is that while the markdown parser we use has the appropriate hooks and such for mutation of inputs, I cannot easily say whether this is doable quickly or not :smile:

Their plugin API is... difficult, to put it lightly.

[2022-01-31 18:17] #168 closed

[2022-02-02 21:35] julianlam commented on #167
Ah... this one's hard to debug because I just refactored the plugin a bit and it now uses the latest version of hljs and the line-numbering plugin.

So with that example text, for whatever reason it is now detected as `vbnet`, not `sql`, and I can't actually reproduce the `{1}` issue.

Can you try with the latest markdown plugin and let me know?

[2022-02-02 21:35] julianlam commented on #124
Resolved in v9

[2022-02-02 21:35] #124 closed

[2022-04-08 14:02] julianlam opened #213 "Enhance paste handling"
Right now when you're in a list or code block, I think when you paste it continues the indentation/level.

If you paste a URL while text is highlighted, it'd be nice to automatically turn that into a markdown URL.

[2022-05-11 11:09] ShlomoCode commented on #81
I too would like such a thing! This is suitable for example if the administrator wants to publish more designed posts - a kind of blog category, but still does not want to get XSS from regular users... :)

[2022-09-13 11:51] lslzl3000 opened #214 "How to add new languages in this plugin?"
need more different type of codes, how to add new tags/languages?

[2022-09-13 12:32] lslzl3000 commented on #214
By the way, how to add language support for line numbers?
Should add line numbers for ts/typescript

[2022-09-13 13:11] julianlam commented on #214
You can add new language support by adding the translated language keys into the public/languages folder

[2022-09-13 15:50] lslzl3000 commented on #214
I mean coding language, add new custom language definition

And for line numbers options, there is only 23 options in ACP settings, no 'typescript', so is there an option to add new languages in ACP?

[2022-09-13 23:16] pitaj commented on #214
The JavaScript highlighting should work fine for typescript.

[2022-09-13 23:41] lslzl3000 commented on #214
but no line numbers

[2022-09-14 05:34] lslzl3000 commented on #214
Can we enable line numbers for all 180+ languages from hightlights?

[2022-09-14 12:41] julianlam commented on #214
No, that'd be an insane amount and increase the payload size of the minfile significantly... But I will take some languages into account.

[2022-11-14 19:02] #214 closed

[2022-11-14 19:08] julianlam opened #216 "hljs line numbers list is outdated"
Shows too few languages, I think... re: #214

[2022-11-14 19:09] julianlam commented on #214
It occurs to me your complaint was regarding enabling _line numbers_ for TS, so that is now in #215.